* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}

/* Teste */
body {
    max-width: 1100px;
	margin: 0 auto;
	background: linear-gradient(to right, #050061 0%, #0058cc 	36%, #090979 100%);
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.500);
	margin: 5px;
	border-radius: 10px;
}

#logo {
	font-size: 50px;
	font-weight: 700;
	margin-left: 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
}

header ul {
    display: flex;
}

header ul li {
    margin-right: 15px;
}

header ul li a {
    
}

h1 {
	font-size: 60px;
	margin: 30px;
}

h3 {
	font-size: 40px;
}

p {
	font-size: 30px;
}